@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

:root {
    --bgColor: #223344;
    --bgColor2: #090a0f;
    --accentColor: #FFF;
    --font: 'Ubuntu', sans-serif;
    --delay: .3s;
    --bioFontSize: 1rem; /* Font size for the bio */
    --quoteFontSize: .7rem; /* Font size for the quote */
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font);
    background: radial-gradient(ellipse at bottom, var(--bgColor) 0%, var(--bgColor2) 100%);
    opacity: 0;
    animation: 1s ease-out var(--delay) 1 transitionAnimation;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#profileContainer {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

#profilePicture, #profilePicture img {
    width: 96px;
    height: 96px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

#userName {
    color: var(--accentColor);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

#bio {
    color: var(--accentColor);
    font-size: var(--bioFontSize);
    margin: 10px auto;
    text-align: center;
    max-width: 675px;
}

#bio p {
    margin: 0;
}

#quote {
    font-size: var(--quoteFontSize);
    color: var(--accentColor);
    display: block;
    text-align: center;
    animation: animate 6s linear infinite;
    background: linear-gradient(90deg, var(--bgColor), var(--accentColor), var(--bgColor));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 10px;
}

#quote i {
    margin-right: 5px;
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
    text-align: center; /* Ensure links are centered */
}

.link {
    position: relative;
    background-color: transparent;
    color: var(--accentColor);
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    max-width: 675px;
    width: auto;
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: var(--bgColor);
    }
}

.link:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
}

#hashtag {
    position: relative;
    padding-bottom: 20px;
    color: var(--accentColor);
    font-size: 1rem;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;

    overflow: hidden;
    background: linear-gradient(90deg, var(--bgColor), var(--accentColor), var(--bgColor));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear var(--delay) infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#whatsappTitle, #vanityTitle {
    color: var(--accentColor);
    font-size: 1.5rem; /* Tamaño ajustado del título */
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px; /* Espaciado entre el título y el botón */
    font-family: var(--font);
}

#vanityLocations {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px auto;
    max-width: 675px;
}

#vanityLocations .link {
    flex: 1;
    margin: 0 5px;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

#stars1, #stars2, #stars3 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
